asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary==1.44.1
dj-database-url==2.3.0
Django==5.1.5
django-allauth==65.0.0
django-appconf==1.1.0
django-axes==7.0.0
django-phonenumber-field==8.1.0
django-recaptcha==1.0.4
gunicorn==23.0.0
idna==3.10
mercadopago==2.3.0
Pillow==11.1.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.8.2