{% extends 'base.html' %}
{% block title %}Nova Senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-5">
            <h2 class="text-center mb-4">Defina sua nova senha</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 py-3">Alterar senha</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}